@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    
}

@mixin positionItem {
    display: flex;
    justify-content: center;
    align-items: center;
    
}