/*couleurs données maquettes*/
$color-primary: hsl(267,66%,60%);
$color-secondary: hsl(317,100%,74%);
$color-tertiary: hsl(165,56%,74%);
/*couleurs récupérées*/
$color-dark: hsl(0,0%,0%);

/*font*/
$font-size-txt: 1.6rem;
$font-size-subttl: 1.8rem;
$font-size-ico: 2rem;
$font-size-ttl: 2.4rem;
$font-size-restname: 2.8rem;
$font-size-mainlogo: 3rem;