.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba($color-dark, 0.40);
    animation: loader 0.02s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
    z-index: 100;
    display:flex;
    align-items:center;
    justify-content:center;
  
    &__item {
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 1rem;
      animation: jump 1s;
      animation-iteration-count: 2;
  
      &Container {
        display: flex;
        width: 5rem;
        justify-content: space-between;
      }
  
      &--1 {
        background-color: $color-primary;
      }
    
      &--2 {
        background-color: $color-secondary;
        animation-delay: 0.25s;
      }
    
      &--3 {
        background-color: $color-tertiary;
        animation-delay: 0.5s;
      }
    }    
  }