/*base typography*/
//fonts à télécharger
@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'roboto black';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'roboto light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

/*page typo fonts du site*/
body {
    font-family: 'roboto', sans-serif;
}

i {
    font-size: $font-size-ico;
}

.head,
.foot {
    &__logo  {
        font-family: 'shrikhand', sans-serif;
    }
}

.banner__title {
    font-family: 'shrikhand', sans-serif;
    font-size: $font-size-restname;
}

.info, 
.operation, 
.rest{
    &__title {
        font-family: 'roboto black', sans-serif;
        font-size: $font-size-ttl;
    }
    &__name {
        font-family: 'roboto-bold', sans-serif;
        font-size: $font-size-subttl;
    }
    &__new {
        font-family: 'roboto bold';
        font-size: $font-size-txt;
    }  
}

.info__quote {
    font-family: 'roboto light', sans-serif;
}

.operation__list {
    font-family: 'roboto bold', sans-serif;
    &::before {
        font-family: 'roboto light';
        font-size: $font-size-txt;
    }
}

.menu {
    &__main-title {
        text-transform: uppercase;
    }

    &__dish {
        font-family: 'roboto-bold', sans-serif;
        font-size: $font-size-subttl;
    }

    &__check{
        font-size: $font-size-ico;
    }
}

.foot {
    &__items {
        font-size: $font-size-txt;
    }

    &__logo {
        font-size: $font-size-subttl;
    }

    & i {
        font-size: 1.3rem;
    }
}   