@charset "UTF-8";
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    top: 70px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
/*couleurs données maquettes*/
/*couleurs récupérées*/
/*font*/
/*style*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.fa, .fab, .fad, .fal, .far, .fas {
  display: flex;
}

/*base typography*/
@font-face {
  font-family: "shrikhand";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "roboto black";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "roboto light";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
/*page typo fonts du site*/
body {
  font-family: "roboto", sans-serif;
}

i {
  font-size: 2rem;
}

.head__logo,
.foot__logo {
  font-family: "shrikhand", sans-serif;
}

.banner__title {
  font-family: "shrikhand", sans-serif;
  font-size: 2.8rem;
}

.info__title,
.operation__title,
.rest__title {
  font-family: "roboto black", sans-serif;
  font-size: 2.4rem;
}
.info__name,
.operation__name,
.rest__name {
  font-family: "roboto-bold", sans-serif;
  font-size: 1.8rem;
}
.info__new,
.operation__new,
.rest__new {
  font-family: "roboto bold";
  font-size: 1.6rem;
}

.info__quote {
  font-family: "roboto light", sans-serif;
}

.operation__list {
  font-family: "roboto bold", sans-serif;
}
.operation__list::before {
  font-family: "roboto light";
  font-size: 1.6rem;
}

.menu__main-title {
  text-transform: uppercase;
}
.menu__dish {
  font-family: "roboto-bold", sans-serif;
  font-size: 1.8rem;
}
.menu__check {
  font-size: 2rem;
}

.foot__items {
  font-size: 1.6rem;
}
.foot__logo {
  font-size: 1.8rem;
}
.foot i {
  font-size: 1.3rem;
}

/*base base*/
body {
  color: black;
}

.info, .btn__container {
  text-align: center;
}

/*header*/
body > header {
  text-align: center;
}

.head__logo {
  display: inline-block;
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 1.3rem;
}

/*page home*/
@media screen and (min-width: 768px) {
  .operation__title {
    text-align: center;
  }
  .operation__lists {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .rest__title {
    text-align: center;
  }
  .rest__blocklist {
    display: flex;
    flex-wrap: wrap;
  }
  .rest__list {
    width: 50%;
  }
}
.info {
  background-color: whitesmoke;
}
.info__place {
  background-color: #ebebeb;
  padding: 1.3rem 1rem;
  box-shadow: inset 0px 5px 5px 0px #dbdbdb;
}
.info__block {
  padding: 5rem;
}
.info__title {
  line-height: 1.3em;
  margin-bottom: 1.8rem;
}
.info__quote {
  margin-bottom: 3rem;
}

.operation {
  padding-top: 5rem;
  max-width: 1440px;
  margin: 0 auto;
}
.operation__lists {
  list-style: none;
  counter-reset: li;
}
.operation__list {
  display: flex;
  position: relative;
  border-radius: 30px;
  background-color: whitesmoke;
  box-shadow: 0px 6px 14px 0px #dbdbdb;
  margin: 2.4rem;
  padding: 2.4rem;
  counter-increment: li;
}
.operation__list:hover {
  background-color: rgba(146, 86, 220, 0.1);
}
.operation__list:hover :nth-child(1) {
  color: #9256dc;
}
.operation__list::before {
  content: counter(li);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -1.3rem;
  background-color: #9256dc;
  color: whitesmoke;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
}
.operation__ico {
  margin: 0 2rem 0 1rem;
  color: #7d7d7d;
}

.operation__title, .rest__title {
  padding-left: 2rem;
}

.rest {
  background-color: whitesmoke;
  padding: 6rem 0;
}
.rest__blocklist {
  max-width: 1440PX;
  margin: 0 auto;
}
.rest__block {
  border-radius: 15px;
  margin: 2rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 6px 14px 0px #dbdbdb;
  position: relative;
}
.rest__block:last-child {
  margin-bottom: 0;
}
.rest img {
  display: block;
  width: 100%;
  max-height: 175px;
  object-fit: cover;
  object-position: center center;
}
.rest__imglegend {
  display: flex;
  padding: 2rem;
  align-items: baseline;
  justify-content: space-between;
}
.rest__new {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  background-color: #98e2cf;
  color: #2c9b7f;
  padding: 0.6rem 1rem;
  border-radius: 3px;
  animation: ease-in-out;
}

.heading {
  display: flex;
  align-items: center;
  margin: 0 2.3rem;
}
.heading__logo {
  margin-left: auto;
  margin-right: auto;
}

.banner img {
  width: 100%;
  display: block;
}
.banner__block {
  display: flex;
  justify-content: space-between;
  border-radius: 40px 40px 0 0;
  background-color: whitesmoke;
  position: relative;
  top: -3rem;
  padding: 2rem 3.5rem 0 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .menus {
    display: flex;
    flex-flow: wrap;
  }

  .banner img {
    max-height: 300px;
    object-fit: cover;
  }
}
.menus {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.menu {
  flex: 1 1 33.33%;
}
.menu__blocklist {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.menu__main-title {
  margin-left: 2rem;
}
.menu__main-title::after {
  display: block;
  content: "";
  width: 40px;
  border-bottom: 3px #98e2cf solid;
  padding-bottom: 1rem;
}
.menu__container {
  background-color: whitesmoke;
  width: 100%;
  padding-bottom: 8rem;
}
.menu__block {
  position: relative;
  cursor: pointer;
  background-color: white;
  height: 7rem;
  border-radius: 15px;
  margin: 1.2rem;
  padding: 1rem;
  box-shadow: 0px 6px 14px 0px #dbdbdb;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  opacity: 0;
  animation: slide 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}
.menu__block:nth-child(1) {
  animation-delay: 0.3s;
}
.menu__block:nth-child(2) {
  animation-delay: 0.6s;
}
.menu__block:nth-child(3) {
  animation-delay: 0.9s;
}
.menu__block:nth-child(4) {
  animation-delay: 1.2s;
}
.menu__block:nth-child(5) {
  animation-delay: 1.5s;
}
.menu__block:nth-child(6) {
  animation-delay: 1.8s;
}
.menu__block:nth-child(7) {
  animation-delay: 2.1s;
}
.menu__block:nth-child(8) {
  animation-delay: 2.4s;
}
.menu__block:nth-child(9) {
  animation-delay: 2.7s;
}
.menu__block:hover .menu__check {
  margin-right: -1rem;
}
.menu__block i.fas.fa-check-circle {
  transform: rotate(-180deg);
  transition: transform 0.5s 0.15s;
}
.menu__block:hover i.fas.fa-check-circle {
  transform: rotate(0);
}
.menu__elements {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__dish {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__price {
  display: flex;
  align-items: flex-end;
}
.menu__check {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  background-color: #98e2cf;
  color: whitesmoke;
  width: 5rem;
  margin: -1rem -6rem -1rem 1rem;
  transition: margin-right 0.5s;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  animation: loader 0.02s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 2;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #9256dc;
}
.loader__item--2 {
  background-color: #ff7ad9;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #98e2cf;
  animation-delay: 0.5s;
}

/*components buttons*/
.btn {
  display: inline-block;
  background-color: #9256dc;
  box-shadow: 0px 6px 14px #c2c2c2;
  color: whitesmoke;
  border-radius: 3.6rem;
  padding: 1.3rem 2rem;
  background: linear-gradient(175deg, #ff7ad9 0%, #9256dc 100%);
}
.btn:hover {
  background-color: #c9aaee;
  background: linear-gradient(175deg, #ff94e1 0%, #a06be1 100%);
  box-shadow: 0px 12px 22px #c2c2c2;
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.icon {
  font-size: 2rem;
  position: relative;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon--default {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  position: absolute;
  transform: scale(0.85);
}
.icon--default:hover {
  opacity: 0;
}
.icon--hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: opacity 0.3s;
  transform: scale(1);
  opacity: 0;
  background: -webkit-linear-gradient(175deg, #ff94e1 0%, #a06be1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: ease-in-out 0.3s;
}
.icon--hover:hover {
  opacity: 1;
}

/* footer */
.foot {
  background-color: #363636;
  color: whitesmoke;
  padding: 2.5rem;
}
.foot__container {
  max-width: 1440px;
  margin: 0 auto;
}
.foot__logo {
  padding-bottom: 2.5rem;
  letter-spacing: 0.05rem;
}
.foot__item {
  padding-bottom: 1rem;
}
.foot__item i {
  padding-right: 1rem;
}
.foot__item:last-child {
  padding-bottom: 0;
}
.foot__item a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .foot__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .foot__list {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
  }
  .foot__item {
    margin: 0 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
