.heading {
    display: flex;
    align-items: center;
    margin: 0 2.3rem;
       
    &__logo {
        margin-left: auto;
        margin-right: auto;
    }
}
.banner {
    & img {
        width: 100%;
        display: block;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        border-radius: 40px 40px 0 0;
        background-color: lighten($color-dark, 96%);
        position: relative;
        top: -3rem;
        padding: 2rem 3.5rem 0 2rem;
        position: relative;
    }
}

@media screen and (min-width: 768px){
    
    .menus { 
        display: flex; 
        flex-flow: wrap;   
    }
    .banner img {
        max-height: 300px;
        object-fit: cover;
    }
}
    
.menu {
    flex: 1 1 auto;
    
    &__blocklist {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
    }
    &__main-title {
        margin-left: 2rem;
        // margin-top: 4rem;
        
        &::after{
            display: block;
            content: "";
            width: 40px;
            border-bottom: 3px $color-tertiary solid;
            padding-bottom: 1rem;
        }
    }
    &__container {
        background-color: lighten($color-dark, 96%);
        width: 100%;
        padding-bottom: 8rem;
    }
    &__block {  
        background-color: lighten($color-dark, 100%);
        height: 7rem;
        border-radius: 15px;
        margin: 1.2rem;
        box-shadow: $box-shadow-out;        
        display: flex;
        flex-wrap: wrap;
        /*animation du check*/
        overflow: hidden;
        

        &:hover .menu__check{
            margin-right: 0;               
        }
        & i.fas.fa-check-circle{
            transform: rotate(-180deg);
            transition: transform 0.5s 0.15s;
        }
        &:hover i.fas.fa-check-circle {
            transform: rotate(0);
        }

    }
    &__elements {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 1rem;

        
    }
    &__legend {
        display: flex;
        justify-content: space-between; 
    }
    &__dish {
        white-space: nowrap;
        text-overflow: ellipsis; 
        overflow: hidden;      
    }
    &__description{
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;        
    }
    

    &__check {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 0 15px 15px 0;
        background-color: $color-tertiary;
        color: lighten($color-dark, 96%);
        width: 6rem;
        margin: 0rem -7rem -1rem 1rem;
        transition: margin-right 0.5s;

        
        
        
    }
}
