.heading {
    display: flex;
    align-items: center;
    margin: 0 2.3rem;
       
    &__logo {
        margin-left: auto;
        margin-right: auto;
    }
}
.banner {
    & img {
        width: 100%;
        display: block;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        border-radius: 40px 40px 0 0;
        background-color: lighten($color-dark, 96%);
        position: relative;
        top: -3rem;
        padding: 2rem 3.5rem 0 2rem;
        position: relative;
    }
}

@media screen and (min-width: 768px){
    
    .menus { 
        display: flex; 
        flex-flow: wrap;   
    }
    .banner img {
        max-height: 300px;
        object-fit: cover;
    }
}
    
.menu {
    flex: 1 1 auto;
    
    &__blocklist {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
    }
    &__main-title {
        margin-left: 2rem;
        // margin-top: 4rem;
        
        &::after{
            display: block;
            content: "";
            width: 40px;
            border-bottom: 3px $color-tertiary solid;
            padding-bottom: 1rem;
        }
    }
    &__container {
        background-color: lighten($color-dark, 96%);
        width: 100%;
        padding-bottom: 8rem;
    }
    &__block {
        border-radius: 15px;
        background-color: lighten($color-dark, 100%);
        box-shadow: $box-shadow-out;
        margin: 1.2rem;
        display: flex;
        flex-wrap: wrap; 
        height: 7rem;  
    }
    &__elements {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1.5rem 0 1.5rem 1rem;
    }
    &__legend {
        display: flex;
        justify-content: space-between;
        padding-right: 2.3rem;
    }
    &__dish {
        white-space: nowrap;
        text-overflow: ellipsis; 
        overflow: hidden;      
    }
    &__description{
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;        
    }
    
    &__check {
        display: none;
    }

    // &__check {
    //     display: none;
    //     &:hover, :active{
    //         display: flex;
    //         justify-content: flex-end;
    //         align-items: center;
    //         padding: 0 2.5rem;
    //         border-radius: 0 15px 15px 0;
    //         background-color: $color-tertiary;
    //         color: lighten($color-dark, 96%);
    //     }
}
